body {
    font-family: Arial, sans-serif;
    background-color: #c1f1c9;
    margin: 0;
    padding: 0;
}

.cv-container {
    width: 70%;
    margin: 30px auto;
    background-color: #f3f685;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(221, 146, 201, 0.1);
}

.header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.header h1 {
    margin: 0;
    color: #333;
}

.header p {
    margin: 5px 0;
    color: #555;
}

.section {
    margin-top: 20px;
}

.section h2 {
    color: #333;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

.section ul {
    list-style-type: square;
    margin-left: 20px;
}

.section p, 
.section li {
    color: #444;
    line-height: 1.6;
}
